:root {
     --orange-color: #C98648;
     --dark-blue-color:#060626;
     --dark-color:#010716;
     --light-blue-color:#1B49C1;
     --blue-color:#556898;
     --white-color:#ffffff;
}
*,
*::after,
*::before {
     box-sizing: border-box;
}

body {
     margin: 0;
     font-family: "poppins", sans-serif;
}

.wrapper {
     max-width: 1136px ;
     margin: 0 auto;
}

/*button*/
.btn {
     padding: 16px 32px;
     border-radius: 24px;
     color:#fff;
     display: inline-block;
     font-weight: bold;
     font-size: 16px;
     text-decoration: none;
     position: relative;
} 
.btn.dark {
     background-color: var(--dark-color);
}

.btn.light {
     background-color: var(--orange-color);
}
.btn.enroll-icon::before {
     content: url('Images/HeroEnroll.svg');
     position: absolute;
     top: 50%;
     left: 32px;
     transform: translateY(-50%);
}

.btn.enroll-icon {
     padding-left: 60px;
}  

/*header*/

header {
     background: #556898;
     height: 100vh;
     width: 100%;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     width: 1136px;
     top: 0px;
     padding: 36px 0px;
     z-index: 100;
     transition: all 500ms ease;
}
nav.scrolled {
     background: var(--dark-blue-color);
     box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
     border-radius: 0 0 8px 8px;
     top: 0;
     padding: 12px;
}     

nav .logo {
     color: #FFF;
     font-family: "Raleway", sans-serif;
     font-size: 40px;
     font-weight: 900;
}

nav ul {
     display: flex;
     align-items: center;
     gap: 60px;
     list-style: none;
     margin: 0;
}

nav ul li a {
     color: #FFF;
     font-size: 16px;
     font-weight: bold;
     text-decoration: none;
}

/*Hero Section*/
.hero-section {
     display: flex;
     height: 100vh;
     width: 100%;
     align-items: center;
     justify-content: space-between;
     padding-top: 60px;
     position: relative;
     color: #FFF;
}

.hero-section .left h1 {
     color: #FFF;
     font-family: "Raleway", sans-serif;
     font-size: 50px;
     font-weight: 900;
     line-height: 125%; /* 62.5px */ 
     margin-bottom: 0;  
}
.hero-section .left p {
     color: #FFF;
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: normal;
     line-height: 200%; /* 32px */
     margin-bottom: 30px;
     width: 457px;
}
.hero-section .left {
     flex: 1;
}
.hero-section .right {
     align-self: flex-end;
}
.hero-section .right img {
     border-radius: 43px;
     border: 1px solid #FFF;
     mix-blend-mode: darken;
     height: 520px;
     vertical-align: middle ;
}

/*Achievement Cards*/
.achievement-card {
     position: absolute;
     min-width: 200px;
     color: var(--dark-blue-color);
}
.achievement-card .content {
     border-radius: 24px;
     background-color: #FFF;
     padding: 8px 32px;
     z-index: 10;
     position: relative;
}
.achievement-card.students-enrolled {
     left: 49%;
     top: 270px;

}
.achievement-card.overall-rating{
     left: 47%;
     top: 470px;
     
}
.achievement-card .content div{
     display: flex;
     align-items: center;
     gap: 12px;
}

.achievement-card h3 {
     color: var(--dark-blue-color);
     font-family: "Poppins", sans-serif;
     font-size: 40px;
     font-weight: bold;
     margin: 0;
     text-align: center;
     width: 100% ;
     flex: 1;
}

.achievement-card img {
     flex: 1;
     height: 42px;
     margin-left: -24px;
}

.achievement-card p {
     color: var(--dark-blue-color);
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     margin-top: -8px;
     font-weight: normal;
     margin-bottom: 8px;
     text-align: center;
}
.achievement-card .bg{
     position: absolute;
     height: 100%;
     width: 100%;
     border-radius: 24px;
     background: #5973B5DE;
     top: 8px;
     bottom: 8px;
     z-index: 1;
}
 /*testomonial Section*/

section{
     margin-top: 100px;
}

h2{
     color: var(--dark-color);
     font-family: "Raleway", sans-serif;
     font-size: 60px;
     max-width: 0;
     font-weight: 900;
     line-height: 120%; /* 72px */
}
h2.light {
     color: #FFF;
}
 section p{
     color: var(--dark-blue-color);
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 200%;
     margin: 12px 0;
     line-height: 150%; /* 24px */
 }

 .testimonials-section {
     display: flex;
     gap: 100px;
     align-items: center;
 }

 .testimonials-section .mobile-btn {
     display: none;
 }
 .testimonials-section .testimonial-card {
     width: 442px;
     border-radius: 24px;
     background: #FFF;
     box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.20);
     margin-bottom: 50px;
     position: relative;
 }
 .testimonials-section .testimonial-card::before {
     content: "";
     width: 28px;
     position: absolute;
     height: 40px;
     top: -40px;
     left: 60px;
     background: var(--dark-blue-color);
     border-radius: 24px 24px 0 0;
}
.testimonials-section .achievement-card:last-child::before {
     left: 40px;
     top: -50px;
     border-radius: 0 0 24px 24px;
     height: calc(100% + 90px);
     z-index: -1;

}
 .testimonials-section .testimonial-card .content {
     color: #FFF;
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: 900;
     line-height: 150%; /* 27px */
     border-radius: 24px;
     padding: 24px 32px;
     background: var(--light-blue-color);
 }

 .testimonials-section .achievement-card:last-child .content {
     background: var(--orange-color);
 }
 .testimonials-section .testimonial-card .info h4 {
     color: var(--dark-blue-color);
     font-family: "Raleway", sans-serif;
     font-size: 24px;
     font-weight: 900;
     line-height: 150%; /* 36px */
     margin: 0;
 }

 .testimonials-section .testimonial-card .info{
     padding: 24px 32px;
     background: #FFF;
     border-radius: 24px;
 }
 .testimonials-section .testimonial-card .info p.company {
     color: var(--dark-blue-color);
     font-family: "Raleway", sans-serif;
     font-size: 18px;
     font-weight: normal;
     line-height: 120%; /* 27px */
 }

 .testimonials-section .testimonial-card img{
     width: 120px;
     height: 120px;
     position: absolute;
     right: 32px;
     bottom: 20px;

 }
 .testimonials-section .testimonial-card:last-child{
     transform: translateX(20px);
 }
 .testimonials-section .features{
     margin-bottom: 30px;

 }


 /*course section*/
 .courses-section {
     background: var(--blue-color);
     padding: 70px 0;
     padding-bottom: 120px;
 }
 .courses-section h2 {
     text-align: center;
     
 }
 .courses-section .course-cards{
     display:flex;
     gap: 70px;
 }
 .courses-section .course-cards img{
     width: 100%;
     border-radius: 24px;
     box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

 }
 .courses-section .course-card {
     border-radius: 24px;
     background: #FFF;
     padding: 0px 32px;
     margin: 40px 0px;
     position: relative;
 }
 .courses-section .course-card::after {
     content: "";
     border-radius: 20px;
     position: absolute;
     background: var(--dark-color);
     height: 8px;
     left: 32px;
     right: 32px;
     bottom: 0;

 }
 .courses-section.course-card h3{
     color: var(--dark-color);
     font-family: "Raleway", sans-serif;
     font-size: 30px;
     font-weight: 900;
     line-height: 150%; /* 45px */
 }
.courses-section .course-card .info{
     display: flex;
     gap: 16px;
     justify-content: space-between;
     align-items: center;
}
.courses-section .course-card .duration{
     color: var(--dark-color);
     font-family: "Raleway", sans-serif;
     font-size: 16px;
     font-weight: 900;
     line-height: 150%; /* 24px */
     white-space: nowrap;
     position: relative;
     padding-left: 20px;
}
.courses-section .course-card .duration::before {
     content: url("Images/CourseClock.svg");
     position: absolute;
     top: 2px;
     left: -6px;
}

.courses-section .wrapper {
     position: relative;
}
.courses-section .wrapper .btn {
     position: absolute;
     right: 0;
}

/*app section*/
.app-section {
     text-align: center;
}
.app-section .app-buttons {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 30px;
     margin-top: 24px;
}
.app-section .app-btn {
     border-radius: 24px;
     background: var(--dark-color);
     padding: 16px 30px;
     color: #FFF;
     display: flex;
     align-items: center;
     gap: 14px;
     min-width: 310px;
}
.app-section .app-btn span {
     color: #FFF;
     font-family: "Poppins", sans-serif;
     font-size: 20px;
     font-weight: normal;
     
}


/*Footer*/
footer {
      background-color: #060626;
      color: #FFF;
      margin-top: 100px;
      padding: 70px 0px;

}

footer a {
     text-decoration: none;
     color: #FFF;
}

footer h3 {
     color: var(--orange-color);

}
footer ul {
     list-style: none;
     padding-left: 20px;
}
footer ul li {
     margin: 16px 0px;
}
footer .links-container {
     display: grid;
     grid-template-columns: 2fr 2fr 3fr;
}
footer .social {
     margin-left: 20px;
}
footer .social a{
     margin-right: 28px;
}
footer form{
     margin-left: 20px;
     margin-top: 60px;
     position: relative;
}
footer form input{
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     line-height: 200%;
     color: rgba(0, 0, 0, 0.50);
     font-weight: normal;
     border-radius: 8px;
     padding: 8px 160px 8px 32px;
     border: none;
     width: 100%;
}
footer form .submit-btn{
     position: absolute;
     right: 5px;
     top: 50%;
     transform: translateY(-50%);
     border-radius: 24px;
     background: var(--dark-blue-color);
     padding: 8px 32px;
     border: 0;
     font-family: "Poppins", sans-serif;
     font-weight: normal;
     font-size: 16px;
     color: #FFF;
     cursor: pointer;
}
footer .copyright{
     margin-top: 36px;
}